@{
    ViewBag.Title = "Home Page";
}

<div ng-app="pool.Core">

    <ng-view></ng-view>

</div>


@Scripts.Render("~/Scripts/Angular")
@Scripts.Render("~/Scripts/PoolModule")
@Scripts.Render("~/Scripts/Core")