@{
    ViewBag.Title = "Rules";
}


<div class="container-fluid">
    <div class="jumbotron text-center" style="padding-top: 24px; padding-bottom: 24px;">
        <h1>
            <img class="logo" src="/Content/Images/PoolShield.png" alt="" />
            <span>UIS - Pool League</span>
        </h1>
    </div>
</div>

<h2>Pool League Rules</h2>
<ul>
    <li>Oh.. Looks like there are no rules</li>
</ul>

