@{
    ViewBag.Title = "Suggestions";
}

<div class="container-fluid">
    <div class="jumbotron text-center" style="padding-top: 24px; padding-bottom: 24px;">
        <h1>
            <img class="logo" src="/Content/Images/PoolShield.png" alt="" />
            <span>UIS - Pool League</span>
        </h1>
    </div>
</div>

<h2>Suggestions and Features</h2>

<p>We would love to hear how we can improve this site. Please send any ideas to <a href="mailto:nigel.anderson@ultimateins.co.uk?Subject=PoolLeagueSuggestion" target="_top">nigel.anderson@ultimateins.co.uk</a></p>

<h3>Planned Features</h3>
<ul>
    <li>User accounts - This will allow the site to be used on mobiles and computers outside of the companies evil network</li>
    <li>Stats - see historic win/loss stats</li>
    <li>Hall of fame/shame - current and historical league winners/loses</li>
</ul>